form {
  margin: 15px auto;
}
h1 {
  font-size: 30px;
  padding-bottom: 10px;
}
ul {
  list-style-type: none;
}
.container {
  border: 3px solid darkgray;
  margin: 100px auto;
  padding: 15px;
  color: darkslategray;
  max-width: 600px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
